.Dictionary__navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 84px;
  padding: 48px 8px;
  margin-bottom: 32px;
  position: relative;
  z-index: 5;
  font-weight: bold;
  &__logo {
    margin-right: auto;
  }
  &__space {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px 16px;
    z-index: 1;
    right: 0;
    top: 40px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    &--open {
      opacity: 1;
      transform: translateX(0px);
    }
    &--close {
      opacity: 0;
      pointer-events: none;
      transform: translateX(20px);
    }
    &__item {
      font-weight: bold;
      margin: 10px 10px;
      &--flex {
        display: flex;
        flex-direction: column;
      }
    }
    &__icon {
      margin-left: 16px;
    }
  }
  &-toggle {
    display: flex;

    &__moon {
      margin-left: 16px;
      width: 24px;
      height: 24px;
    }
    &__space {
      position: relative;
      display: inline-block;
      width: 45px;
      height: 23px;
    }
    & input {
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + .Dictionary__navbar-toggle__switch {
        background-color: #a445ed;
      }
      &:checked + .Dictionary__navbar-toggle__switch::before {
        transform: translateX(18px);
      }
    }
    &__switch {
      position: absolute;
      inset: 0;
      cursor: pointer;
      border-radius: 34px;
      background-color: #ccc;
      transition: 0.4s ease;
      &::before {
        content: "";
        position: absolute;
        top: 3px;
        left: 5px;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-color: #fff;
        transition: 0.4s ease;
      }
    }
  }
  &-font {
    border: none;
    appearance: none;
    background-color: transparent;
    &__box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 125px;
      height: 24px;
    }
    & option {
      padding: 10px;
    }

    &__toggler {
      width: 13px;
      height: 9px;
      &--prev {
        margin-right: auto;
        transform: rotate(90deg);
      }
      &--next {
        margin-left: auto;
        transform: rotate(270deg);
      }
    }
  }
  &-interface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: bold;
    &__avatar {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 2px solid black;
      margin-right: 16px;
    }
    &__user {
      display: flex;
      margin: 12px 0px 30px;
    }
    &__toggler {
      position: absolute;
      top: 13px;
      right: -10px;
    }
    &__menu {
      display: flex;
      &-box {
        display: flex;
        border-radius: 16px;
        flex-direction: column;
        position: absolute;
        top: 45px;
        right: -10px;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
        z-index: 17;
        transition: all 0.2s ease-in-out;
        &__item {
          padding: 15px 69px 15px 24px;
        }
      }
      &--open {
        opacity: 1;
        transform: translateY(10px);
      }
      &--close {
        opacity: 0;
        pointer-events: none;
        transform: translateY(0px);
      }
    }
    &__button {
      padding: 10px 18px;
      border-radius: 8px;
    }
  }
  &-settings {
    display: flex;
    position: relative;

    &__toggler {
      position: absolute;
      top: 9px;
      right: -22px;
    }
    &__menu {
      &-box {
        display: flex;
        border-radius: 16px;
        flex-direction: column;
      }
      &__item {
        padding: 15px;
        display: flex;
        justify-content: center;
      }
      &--open {
        opacity: 1;
        transform: translateY(10px);
      }
      &--close {
        opacity: 0;
        pointer-events: none;
        transform: translateY(0px);
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .Dictionary__navbar {
    &__space {
      position: static;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: auto;
      box-shadow: none;
      padding: 0;
      &--open {
        opacity: 1;
        transform: translateX(0px);
      }
      &--close {
        opacity: 0;
        pointer-events: none;
        transform: translateX(20px);
      }
      &__item {
        margin: 14px;
        &--flex {
          flex-direction: row;
        }
      }
    }
    &-settings {
      display: flex;
      position: relative;

      &__toggler {
        position: absolute;
        top: 9px;
        right: -22px;
      }
      &__menu {
        &-box {
          display: flex;
          border-radius: 16px;
          flex-direction: column;
          position: absolute;
          top: 45px;
          right: -10px;
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
          z-index: 1;
          transition: all 0.2s ease-in-out;
        }
        &__item {
          padding: 15px;
          display: flex;
          justify-content: center;
        }
        &--open {
          opacity: 1;
          transform: translateY(10px);
        }
        &--close {
          opacity: 0;
          pointer-events: none;
          transform: translateY(0px);
        }
      }
    }
    &-interface {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      &__avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 2px solid black;
        margin-right: 12px;
      }
      &__user {
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 20px;
        margin-top: 16px;
      }
      &__toggler {
        position: absolute;
        top: 29px;
        right: -4px;
      }
      &__menu {
        &-box {
          display: flex;
          border-radius: 16px;
          flex-direction: column;
          position: absolute;
          top: 45px;
          right: -10px;
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
          z-index: 1;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
}
