.Dictionary__definition {
  margin-bottom: 20px;
  &__hr {
    padding-bottom: 12px;
    flex-grow: 20;
  }
}

@media only screen and (min-width: 768px) {
  .Dictionary__definition {
    &__hr {
      width: 608px;
      height: 1px;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .Dictionary__definition {
    &__hr {
      width: 656px;
      height: 1px;
    }
  }
}
