.Dictonary__playButton {
  &__icon {
    &:hover {
      cursor: pointer;

      & circle {
        opacity: 1;
        transition: all 0.2s ease-in;
      }
      & path {
        fill: white;
        transition: all 0.2s ease-in;
      }
    }
  }
}
